{{ requireJs  }}

{{ include (templatePath ~ 'form_css.twig') }}

{% if real_currency %}
    <div id="currency-notification" class="currency-notification">
        {{ real_currency }}
    </div>
{% endif %}

{{ include (templatePath ~ 'form_inner.twig') }}